# Files ignored for configuration management with SCADE 
*.log
*.dll
*.exe
*.htm
*.ewo
*.vsw
*.mccache
*.mcorder
*.skc
*.err

# generation outpu directories
model/scade-display/DisplayPanel/
model/scade-display/DisplayPanel_Simulation/
model/scade-display/DisplayPanel_Exe/


model/scade-test/Test_TEE/
