SSM::cycle 76

SSM::check image {"images\references\Scenario1_77.bmp"} 
SSM::cycle 104

SSM::set _ptr0.Position {(1564.0, 821.0)}
SSM::cycle

SSM::set _ptr0.Position {(1584.0, 816.0)}
SSM::cycle 9

SSM::set _ptr0.Pressed {true}
SSM::set _ptr0.Button {1}
SSM::cycle

SSM::set _ptr0.Pressed {false}
SSM::set _ptr0.Released {false}
SSM::cycle

SSM::set _ptr0.Released {true}
SSM::cycle

SSM::set _ptr0.Released {false}
SSM::set _ptr0.Button {0}
SSM::cycle 194

SSM::check image {"images\references\Scenario1_388.bmp"} filter={"images\filters\filter_1699532769724.png"}
SSM::check MeasuredWaterVolume 1200.0 real=0.01
SSM::check SteamControlState 1
SSM::cycle 13

SSM::set _ptr0.Position {(1834.0, 844.0)}
SSM::set _ptr0.Pressed {true}
SSM::set _ptr0.Button {1}
SSM::cycle

SSM::set _ptr0.Pressed {false}
SSM::cycle

SSM::set _ptr0.Released {true}
SSM::cycle

SSM::set _ptr0.Released {false}
SSM::set _ptr0.Button {0}
SSM::cycle 21
SSM::check Mode NORMAL
SSM::set _ptr0.Position {(1567.0, 550.0)}
SSM::cycle

SSM::set _ptr0.Position {(1566.0, 550.0)}
SSM::cycle

SSM::set _ptr0.Pressed {true}
SSM::set _ptr0.Button {1}
SSM::cycle

SSM::set _ptr0.Pressed {false}
SSM::cycle

SSM::set _ptr0.Released {true}
SSM::cycle

SSM::set _ptr0.Released {false}
SSM::set _ptr0.Button {0}
SSM::cycle 7

SSM::check image {"images\references\Scenario1_437.bmp"} filter={"images\filters\filter_1699532850693.png"} 
SSM::check PumpFailure (true, false, false, false)
SSM::check Mode DEGRADED
SSM::cycle 56

SSM::set _ptr0.Position {(1540.0, 414.0)}
SSM::cycle

SSM::set _ptr0.Position {(1542.0, 424.0)}
SSM::set _ptr0.Pressed {true}
SSM::set _ptr0.Button {1}
SSM::cycle

SSM::set _ptr0.Pressed {false}
SSM::cycle

SSM::set _ptr0.Released {true}
SSM::cycle

SSM::set _ptr0.Released {false}
SSM::set _ptr0.Button {0}
SSM::cycle 2

SSM::set _ptr0.Position {(1543.0, 332.0)}
SSM::cycle

SSM::set _ptr0.Position {(1542.0, 311.0)}
SSM::cycle

SSM::set _ptr0.Pressed {true}
SSM::set _ptr0.Button {1}
SSM::cycle

SSM::set _ptr0.Pressed {false}
SSM::cycle

SSM::set _ptr0.Released {true}
SSM::cycle

SSM::set _ptr0.Released {false}
SSM::set _ptr0.Button {0}
SSM::cycle

SSM::set _ptr0.Position {(1550.0, 178.0)}
SSM::cycle 2

SSM::set _ptr0.Pressed {true}
SSM::set _ptr0.Button {1}
SSM::cycle

SSM::set _ptr0.Pressed {false}
SSM::cycle

SSM::set _ptr0.Released {true}
SSM::check image {"images\references\Scenario1_509.bmp"} filter={"images\filters\filter_1699532927138.png"} 
SSM::cycle

SSM::set _ptr0.Released {false}
SSM::set _ptr0.Button {0}
SSM::cycle 567

SSM::check image {"images\references\Scenario1_1077.bmp"} filter={"images\filters\filter_1699533068813.png"} 
SSM::cycle 21

SSM::set _ptr0.Position {(1087.0, 961.0)}
SSM::cycle

SSM::set _ptr0.Position {(1353.0, 724.0)}
SSM::cycle

SSM::set _ptr0.Position {(1848.0, 828.0)}
SSM::cycle

SSM::set _ptr0.Position {(1838.0, 810.0)}
SSM::set _ptr0.Pressed {true}
SSM::set _ptr0.Button {1}
SSM::cycle

SSM::set _ptr0.Pressed {false}
SSM::cycle

SSM::set _ptr0.Released {true}
SSM::cycle

SSM::set _ptr0.Released {false}
SSM::set _ptr0.Button {0}
SSM::cycle 2

SSM::check image {"images\references\Scenario1_1106.bmp"} filter={"images\filters\filter_1699533116844.png"} 
SSM::check PumpFailure (true, true, true, true)
SSM::cycle 10

SSM::set _ptr0.Position {(1869.0, 516.0)}
SSM::cycle

SSM::set _ptr0.Position {(1868.0, 515.0)}
SSM::set _ptr0.Pressed {true}
SSM::set _ptr0.Button {1}
SSM::cycle

SSM::set _ptr0.Pressed {false}
SSM::cycle

SSM::set _ptr0.Released {true}
SSM::cycle

SSM::set _ptr0.Released {false}
SSM::set _ptr0.Button {0}
SSM::cycle 405

SSM::check image {"images\references\Scenario1_1525.bmp"} filter={"images\filters\filter_1699533180265.png"} 
SSM::check Mode EMERGENCY_STOP
SSM::cycle 7

SSM::set _ptr0.Position {(1418.0, 773.0)}
SSM::cycle

SSM::set _ptr0.Position {(1910.0, 845.0)}
SSM::cycle

SSM::set _ptr0.Position {(1841.0, 791.0)}
SSM::set _ptr0.Pressed {true}
SSM::set _ptr0.Button {1}
SSM::cycle

SSM::set _ptr0.Pressed {false}
SSM::cycle

SSM::set _ptr0.Released {true}
SSM::cycle

SSM::set _ptr0.Released {false}
SSM::set _ptr0.Button {0}
SSM::cycle 2

SSM::check image {"images\references\Scenario1_1539.bmp"} filter={"images\filters\filter_1699533220405.png"} 
SSM::cycle 298

