<?xml version="1.0" encoding="UTF-8"?>

<?dom version="19.0" ?>

<colorTable backgroundIndex="3" name="color_table" size="255">
    <colorDefinition alpha="0xFF" index="0" name="GREY1" rgb="0x989898"/>
    <colorDefinition alpha="0xFF" index="1" name="GREY2" rgb="0x3C3C3C"/>
    <colorDefinition alpha="0xFF" index="2" name="GREY3" rgb="0x2C2C2C"/>
    <colorDefinition alpha="0xFF" index="3" name="GREY4" rgb="0x252525"/>
    <colorDefinition alpha="0xFF" index="4" name="NEUTRAL" rgb="0xFFFFFF"/>
    <colorDefinition alpha="0xFF" index="5" name="NEUTRAL2" rgb="0xFCFCFC"/>
    <colorDefinition alpha="0xFF" index="6" name="NEUTRAL3" rgb="0xF7F7F7"/>
    <colorDefinition alpha="0xFF" index="7" name="NEUTRAL4" rgb="0xF2F2F2"/>
    <colorDefinition alpha="0xFF" index="8" name="NEUTRAL5" rgb="0xECECEC"/>
    <colorDefinition alpha="0xFF" index="9" name="NEUTRAL6" rgb="0xE7E7E7"/>
    <colorDefinition alpha="0xFF" index="10" name="NEUTRAL7" rgb="0xE2E2E2"/>
    <colorDefinition alpha="0xFF" index="11" name="NEUTRAL8" rgb="0xDEDEDE"/>
    <colorDefinition alpha="0xFF" index="12" name="NEUTRAL9" rgb="0xD9D9D9"/>
    <colorDefinition alpha="0xFF" index="13" name="NEUTRAL10" rgb="0xD4D4D4"/>
    <colorDefinition alpha="0xFF" index="14" name="NEUTRAL11" rgb="0xCECECE"/>
    <colorDefinition alpha="0xFF" index="15" name="NEUTRAL12" rgb="0xC9C9C9"/>
    <colorDefinition alpha="0xFF" index="16" name="NEUTRAL13" rgb="0xC4C4C4"/>
    <colorDefinition alpha="0xFF" index="17" name="NEUTRAL14" rgb="0xBFBFBF"/>
    <colorDefinition alpha="0xFF" index="18" name="NEUTRAL15" rgb="0xBABABA"/>
    <colorDefinition alpha="0xFF" index="19" name="NEUTRAL16" rgb="0xB5B5B5"/>
    <colorDefinition alpha="0xFF" index="20" name="NEUTRAL17" rgb="0xB0B0B0"/>
    <colorDefinition alpha="0xFF" index="21" name="NEUTRAL18" rgb="0xABABAB"/>
    <colorDefinition alpha="0xFF" index="22" name="NEUTRAL19" rgb="0xA6A6A6"/>
    <colorDefinition alpha="0xFF" index="23" name="NEUTRAL20" rgb="0xA1A1A1"/>
    <colorDefinition alpha="0xFF" index="24" name="NEUTRAL21" rgb="0x9C9C9C"/>
    <colorDefinition alpha="0xFF" index="25" name="INITIALIZATION" rgb="0x70F3FF"/>
    <colorDefinition alpha="0xFF" index="26" name="INITIALIZATION2" rgb="0x71F0FC"/>
    <colorDefinition alpha="0xFF" index="27" name="INITIALIZATION3" rgb="0x73ECF7"/>
    <colorDefinition alpha="0xFF" index="28" name="INITIALIZATION4" rgb="0x75E7F2"/>
    <colorDefinition alpha="0xFF" index="29" name="INITIALIZATION5" rgb="0x77E3EC"/>
    <colorDefinition alpha="0xFF" index="30" name="INITIALIZATION6" rgb="0x7ADFE8"/>
    <colorDefinition alpha="0xFF" index="31" name="INITIALIZATION7" rgb="0x7BDAE3"/>
    <colorDefinition alpha="0xFF" index="32" name="INITIALIZATION8" rgb="0x7DD6DE"/>
    <colorDefinition alpha="0xFF" index="33" name="INITIALIZATION9" rgb="0x80D1D8"/>
    <colorDefinition alpha="0xFF" index="34" name="INITIALIZATION10" rgb="0x81CCD3"/>
    <colorDefinition alpha="0xFF" index="35" name="INITIALIZATION11" rgb="0x83C8CE"/>
    <colorDefinition alpha="0xFF" index="36" name="INITIALIZATION12" rgb="0x85C3C9"/>
    <colorDefinition alpha="0xFF" index="37" name="INITIALIZATION13" rgb="0x87BFC4"/>
    <colorDefinition alpha="0xFF" index="38" name="INITIALIZATION14" rgb="0x89BBBF"/>
    <colorDefinition alpha="0xFF" index="39" name="INITIALIZATION15" rgb="0x8BB6BA"/>
    <colorDefinition alpha="0xFF" index="40" name="INITIALIZATION16" rgb="0x8DB2B5"/>
    <colorDefinition alpha="0xFF" index="41" name="INITIALIZATION17" rgb="0x8FADB0"/>
    <colorDefinition alpha="0xFF" index="42" name="INITIALIZATION18" rgb="0x91A9AB"/>
    <colorDefinition alpha="0xFF" index="43" name="INITIALIZATION19" rgb="0x93A4A6"/>
    <colorDefinition alpha="0xFF" index="44" name="INITIALIZATION20" rgb="0x95A0A1"/>
    <colorDefinition alpha="0xFF" index="45" name="INITIALIZATION21" rgb="0x979C9C"/>
    <colorDefinition alpha="0xFF" index="46" name="NORMAL" rgb="0x9EF98F"/>
    <colorDefinition alpha="0xFF" index="47" name="NORMAL2" rgb="0x9EF690"/>
    <colorDefinition alpha="0xFF" index="48" name="NORMAL3" rgb="0x9EF190"/>
    <colorDefinition alpha="0xFF" index="49" name="NORMAL4" rgb="0x9EEC91"/>
    <colorDefinition alpha="0xFF" index="50" name="NORMAL5" rgb="0x9DE791"/>
    <colorDefinition alpha="0xFF" index="51" name="NORMAL6" rgb="0x9DE392"/>
    <colorDefinition alpha="0xFF" index="52" name="NORMAL7" rgb="0x9DDE92"/>
    <colorDefinition alpha="0xFF" index="53" name="NORMAL8" rgb="0x9DD993"/>
    <colorDefinition alpha="0xFF" index="54" name="NORMAL9" rgb="0x9CD593"/>
    <colorDefinition alpha="0xFF" index="55" name="NORMAL10" rgb="0x9CD093"/>
    <colorDefinition alpha="0xFF" index="56" name="NORMAL11" rgb="0x9CCB94"/>
    <colorDefinition alpha="0xFF" index="57" name="NORMAL12" rgb="0x9BC694"/>
    <colorDefinition alpha="0xFF" index="58" name="NORMAL13" rgb="0x9BC195"/>
    <colorDefinition alpha="0xFF" index="59" name="NORMAL14" rgb="0x9BBD95"/>
    <colorDefinition alpha="0xFF" index="60" name="NORMAL15" rgb="0x9BB896"/>
    <colorDefinition alpha="0xFF" index="61" name="NORMAL16" rgb="0x9AB396"/>
    <colorDefinition alpha="0xFF" index="62" name="NORMAL17" rgb="0x9AAE97"/>
    <colorDefinition alpha="0xFF" index="63" name="NORMAL18" rgb="0x9AAA97"/>
    <colorDefinition alpha="0xFF" index="64" name="NORMAL19" rgb="0x99A597"/>
    <colorDefinition alpha="0xFF" index="65" name="NORMAL20" rgb="0x99A098"/>
    <colorDefinition alpha="0xFF" index="66" name="NORMAL21" rgb="0x999C98"/>
    <colorDefinition alpha="0xFF" index="67" name="DEGRADED" rgb="0xFFF857"/>
    <colorDefinition alpha="0xFF" index="68" name="DEGRADED2" rgb="0xFCF65A"/>
    <colorDefinition alpha="0xFF" index="69" name="DEGRADED3" rgb="0xF7F15D"/>
    <colorDefinition alpha="0xFF" index="70" name="DEGRADED4" rgb="0xF2EC60"/>
    <colorDefinition alpha="0xFF" index="71" name="DEGRADED5" rgb="0xEDE763"/>
    <colorDefinition alpha="0xFF" index="72" name="DEGRADED6" rgb="0xE8E366"/>
    <colorDefinition alpha="0xFF" index="73" name="DEGRADED7" rgb="0xE2DE6A"/>
    <colorDefinition alpha="0xFF" index="74" name="DEGRADED8" rgb="0xDED96D"/>
    <colorDefinition alpha="0xFF" index="75" name="DEGRADED9" rgb="0xD9D570"/>
    <colorDefinition alpha="0xFF" index="76" name="DEGRADED10" rgb="0xD3D073"/>
    <colorDefinition alpha="0xFF" index="77" name="DEGRADED11" rgb="0xCECB76"/>
    <colorDefinition alpha="0xFF" index="78" name="DEGRADED12" rgb="0xC9C67A"/>
    <colorDefinition alpha="0xFF" index="79" name="DEGRADED13" rgb="0xC4C17D"/>
    <colorDefinition alpha="0xFF" index="80" name="DEGRADED14" rgb="0xBFBD80"/>
    <colorDefinition alpha="0xFF" index="81" name="DEGRADED15" rgb="0xBAB883"/>
    <colorDefinition alpha="0xFF" index="82" name="DEGRADED16" rgb="0xB5B386"/>
    <colorDefinition alpha="0xFF" index="83" name="DEGRADED17" rgb="0xB0AE89"/>
    <colorDefinition alpha="0xFF" index="84" name="DEGRADED18" rgb="0xABAA8C"/>
    <colorDefinition alpha="0xFF" index="85" name="DEGRADED19" rgb="0xA6A590"/>
    <colorDefinition alpha="0xFF" index="86" name="DEGRADED20" rgb="0xA1A093"/>
    <colorDefinition alpha="0xFF" index="87" name="DEGRADED21" rgb="0x9C9C97"/>
    <colorDefinition alpha="0xFF" index="88" name="RESCUE" rgb="0xFF8754"/>
    <colorDefinition alpha="0xFF" index="89" name="RESCUE2" rgb="0xFC8857"/>
    <colorDefinition alpha="0xFF" index="90" name="RESCUE3" rgb="0xF7895A"/>
    <colorDefinition alpha="0xFF" index="91" name="RESCUE4" rgb="0xF28A5E"/>
    <colorDefinition alpha="0xFF" index="92" name="RESCUE5" rgb="0xED8B61"/>
    <colorDefinition alpha="0xFF" index="93" name="RESCUE6" rgb="0xE88B64"/>
    <colorDefinition alpha="0xFF" index="94" name="RESCUE7" rgb="0xE28C67"/>
    <colorDefinition alpha="0xFF" index="95" name="RESCUE8" rgb="0xDE8D6B"/>
    <colorDefinition alpha="0xFF" index="96" name="RESCUE9" rgb="0xD98E6E"/>
    <colorDefinition alpha="0xFF" index="97" name="RESCUE10" rgb="0xD48F71"/>
    <colorDefinition alpha="0xFF" index="98" name="RESCUE11" rgb="0xCE9075"/>
    <colorDefinition alpha="0xFF" index="99" name="RESCUE12" rgb="0xC99178"/>
    <colorDefinition alpha="0xFF" index="100" name="RESCUE13" rgb="0xC4917C"/>
    <colorDefinition alpha="0xFF" index="101" name="RESCUE14" rgb="0xBF927F"/>
    <colorDefinition alpha="0xFF" index="102" name="RESCUE15" rgb="0xBA9382"/>
    <colorDefinition alpha="0xFF" index="103" name="RESCUE16" rgb="0xB59485"/>
    <colorDefinition alpha="0xFF" index="104" name="RESCUE17" rgb="0xB09589"/>
    <colorDefinition alpha="0xFF" index="105" name="RESCUE18" rgb="0xAB968C"/>
    <colorDefinition alpha="0xFF" index="106" name="RESCUE19" rgb="0xA69690"/>
    <colorDefinition alpha="0xFF" index="107" name="RESCUE20" rgb="0xA19793"/>
    <colorDefinition alpha="0xFF" index="108" name="RESCUE21" rgb="0x9C9896"/>
    <colorDefinition alpha="0xFF" index="109" name="EMERGENCY" rgb="0xFF4242"/>
    <colorDefinition alpha="0xFF" index="110" name="EMERGENCY2" rgb="0xFC4545"/>
    <colorDefinition alpha="0xFF" index="111" name="EMERGENCY3" rgb="0xF74A4A"/>
    <colorDefinition alpha="0xFF" index="112" name="EMERGENCY4" rgb="0xF24E4E"/>
    <colorDefinition alpha="0xFF" index="113" name="EMERGENCY5" rgb="0xED5252"/>
    <colorDefinition alpha="0xFF" index="114" name="EMERGENCY6" rgb="0xE75656"/>
    <colorDefinition alpha="0xFF" index="115" name="EMERGENCY7" rgb="0xE25B5B"/>
    <colorDefinition alpha="0xFF" index="116" name="EMERGENCY8" rgb="0xDE5F5F"/>
    <colorDefinition alpha="0xFF" index="117" name="EMERGENCY9" rgb="0xD96363"/>
    <colorDefinition alpha="0xFF" index="118" name="EMERGENCY10" rgb="0xD46767"/>
    <colorDefinition alpha="0xFF" index="119" name="EMERGENCY11" rgb="0xCE6C6C"/>
    <colorDefinition alpha="0xFF" index="120" name="EMERGENCY12" rgb="0xC97070"/>
    <colorDefinition alpha="0xFF" index="121" name="EMERGENCY13" rgb="0xC47474"/>
    <colorDefinition alpha="0xFF" index="122" name="EMERGENCY14" rgb="0xBF7878"/>
    <colorDefinition alpha="0xFF" index="123" name="EMERGENCY15" rgb="0xBA7C7C"/>
    <colorDefinition alpha="0xFF" index="124" name="EMERGENCY16" rgb="0xB58080"/>
    <colorDefinition alpha="0xFF" index="125" name="EMERGENCY17" rgb="0xB08484"/>
    <colorDefinition alpha="0xFF" index="126" name="EMERGENCY18" rgb="0xAB8989"/>
    <colorDefinition alpha="0xFF" index="127" name="EMERGENCY19" rgb="0xA68D8D"/>
    <colorDefinition alpha="0xFF" index="128" name="EMERGENCY20" rgb="0xA19191"/>
    <colorDefinition alpha="0xFF" index="129" name="EMERGENCY21" rgb="0x9C9696"/>
</colorTable>

<!-- crc32 : 765247693 -->

