name: CI
on:
  pull_request:
  push:
    tags:
      - "*"
    branches:
      - main
  workflow_dispatch:

env:
  DOCUMENTATION_CNAME: 'smart-boiler-control.examples.scade.docs.pyansys.com'
  LIBRARY_NAME: 'ansys-scade-examples-smart-boiler-control'
  ARTIFACT_NAME: 'SmartBoilerStandaloneExecutable'
  MAIN_PYTHON_VERSION: '3.10'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  code-style:
    name: "Code style"
    runs-on: ubuntu-latest
    steps:
      - uses: ansys/actions/code-style@v10
        with:
          use-python-cache: false

  doc-style:
    name: "Documentation style"
    runs-on: ubuntu-latest
    steps:
      - uses: ansys/actions/doc-style@v10
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  doc-build:
    name: "Build documentation"
    runs-on: ubuntu-latest
    timeout-minutes: 30
    needs: doc-style
    steps:
      - uses: ansys/actions/doc-build@v10
        with:
          skip-install: true
          use-python-cache: false
          dependencies: "qpdf"
          python-version: ${{ env.MAIN_PYTHON_VERSION }}



  standalone-display:
    name: "Standalone Display"
    runs-on: [self-hosted, 'SCADE']
    strategy:
      matrix:
        os: [windows-latest]
        scade-version: ['25.2']
      fail-fast: false
    needs: [code-style]
    steps:
      - name: "Install Git and clone project"
        uses: actions/checkout@v5

      - name: "Get SCADE installation directory"
        uses: ansys/scade-actions/get-scade-dir@v2
        id: get-scade-dir
        with:
          scade-version: "25.2"

      - name: "Generate Standalone"
        uses: ansys/scade-actions/display-generate@v2
        with:
          scade-dir: ${{ steps.get-scade-dir.outputs.scade-directory }}
          project: 'model/scade-display/DisplayPanel.etp'
          configuration: 'Windows'

      - name: "Upload folder to  artifacts"
        uses: actions/upload-artifact@v5
        with:
          name:  ${{ env.ARTIFACT_NAME }}
          path: ./model/scade-display/DisplayPanel_Exe
          retention-days: 7
          if-no-files-found: error

  scade-test-display:
    name: "Run Test Execution"
    runs-on: [self-hosted, 'SCADE', 'GRAPHICS']
    needs: [code-style]
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v5

      - name: "Get SCADE installation directory"
        uses: ansys/scade-actions/get-scade-dir@v2
        id: get-scade-dir
        with:
          scade-version: "25.2"

      - name: "Execute tests"
        uses: ansys/scade-actions/test-execute@v2
        with:
          scade-dir: ${{ steps.get-scade-dir.outputs.scade-directory }}
          test-project: 'model/scade-test/SmartBoilerControl_Test.etp'
          configuration: 'Test'
          results-project: 'model/scade-test/SmartBoilerControl_Results.etp'
          junit-report: 'junit-reports\SmartBoilerControl.xml'
          checkout: false
      - name: "Publish Test Report"
        uses: mikepenz/action-junit-report@v6
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: './junit-reports/SmartBoilerControl.xml'

  release:
    name: "Release project"
    runs-on: ubuntu-latest
    needs: [standalone-display, scade-test-display, doc-build]
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags')
    steps:

    - name: "Download HTML documentation"
      uses: actions/download-artifact@v6
      with:
        name: documentation-html
        path: documentation-html

    - name: "Zip HTML documentation"
      uses: vimtor/action-zip@v1.2
      with:
        files: documentation-html
        dest: documentation-html.zip

    - name: "Download PDF documentation"
      uses: actions/download-artifact@v6
      with:
        name: documentation-pdf
        path: documentation-pdf

    - name: "Zip PDF documentation"
      uses: vimtor/action-zip@v1.2
      with:
        files: documentation-pdf
        dest: documentation-pdf.zip

    - name: "Download Standalone"
      uses: actions/download-artifact@v6
      with:
        name: ${{ env.ARTIFACT_NAME }}
        path: ${{ env.ARTIFACT_NAME }}

    - name: "Zip Standalone"
      uses: vimtor/action-zip@v1.2
      with:
        files: ${{ env.ARTIFACT_NAME }}
        dest: ${{ env.ARTIFACT_NAME }}.zip

    - name: "Display the structure of downloaded files"
      shell: bash
      run: ls -R

    - name: "Release to GitHub"
      uses: softprops/action-gh-release@v2
      with:
        generate_release_notes: true
        files: |
          documentation-html.zip
          documentation-pdf.zip
          ${{ env.ARTIFACT_NAME }}.zip

  doc-deploy-dev:
    name: "Deploy development documentation"
    # Deploy development only when merging or pushing to the 'main' branch
    runs-on: ubuntu-latest
    needs: [standalone-display, scade-test-display, doc-build]
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - uses: ansys/actions/doc-deploy-dev@v10
        with:
          doc-artifact-name: 'documentation-html'
          cname: ${{ env.DOCUMENTATION_CNAME }}
          token: ${{ secrets.GITHUB_TOKEN }}
          bot-user: ${{ secrets.PYANSYS_CI_BOT_USERNAME }}
          bot-email: ${{ secrets.PYANSYS_CI_BOT_EMAIL }}

  doc-deploy-stable:
    name: "Deploy stable documentation"
    # Deploy release documentation when creating a new tag
    runs-on: ubuntu-latest
    needs: [release]
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags')
    steps:
      - uses: ansys/actions/doc-deploy-stable@v10
        with:
          cname: ${{ env.DOCUMENTATION_CNAME }}
          token: ${{ secrets.GITHUB_TOKEN }}
          bot-user: ${{ secrets.PYANSYS_CI_BOT_USERNAME }}
          bot-email: ${{ secrets.PYANSYS_CI_BOT_EMAIL }}

